#age-flow-group {
    top     :90px !important;
}
#age-depth-group {
    top     :90px !important;
}
#gw-inc-group {
    top     :370px !important;
}
#gw-sum-group {
    top     :370px !important;
}
#contaminant-group {
    top     :675px !important;
}
#contaminant-depth-group {
    top     :650px !important;
}
