ul.mixing {
	margin-left:200px;
	list-style-type: none;
}
ul.mixing span {
	display: inline-block;
    width: 50px;
}
ul.mixing input {
    text-align: right;
}
#equation {
    width:300px;	
}
#calculate {
    margin-bottom:10px;
}
div.mixHeader {
	width:900px;
    border-top:1px solid green;
}
div.mixFooter {
    width:900px;
    border-bottom:1px solid green;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#DDFFDD;
}

div.zotHeader {
    width:900px;
	border-top:4px solid #2da6d0;
    border-bottom:4px solid #2da6d0;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#AADDEE;
}